<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.usp.icmc.ecommerceappaccessible">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppMaterialTheme">
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppMaterialTheme">
        </activity>
        <activity android:name=".activities.ProdutoDetalheActivity" />
        <activity android:name=".activities.DadosPessoaisActivity" android:label="@string/dados_pessoais" />
        <activity android:name=".activities.FormaEnvioActivity" android:label="@string/forma_envio" />
        <activity android:name=".activities.PagamentoActivity" android:label="@string/forma_pagamento" />
        <activity android:name=".activities.ConfirmaActivity" android:label="@string/obrigado_compra" />
        <activity android:name=".activities.CarrinhoActivity" android:label="@string/carrinho_compras">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>